.layout-main {
  display: flex;
  flex-direction: column;

  .header {
    height: 60px;
    display: flex;
    justify-content: right;
    padding-right: 20px;
    align-items: center;
    background: #333;
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: #ffd500;
      }
    }

    .logout-btn {
      line-height: 1;
      background: transparent;
      color: #fff;
      border: none;
      margin-left: 16px;

      &:hover {
        color: #ffd500;
      }
    }
  }

  .container {
    padding: 10px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
